@use "../../styles/mixins" as *;
.Jobs{
    @include centeringdiv(column,center,center);
    min-height: 100vh;
    width:100%;
    gap:4rem;
    .midBar{
        @include centeringdiv(column,center,center);
        gap:2rem;
        font-size:1rem;
        @media screen and (min-width:400px){
            font-size:1.1rem;
        }
        @media screen and (min-width:560px){
            @include centeringdiv(row,center,center);
        }
        .searchBar{
            background-color: transparent;
            color:#ffffff;
            border:1px solid #ffffff;
            border-radius: 1rem;
            padding: 0.5rem 1rem;
            &::placeholder{
                color:#ffffff79;
            }
            font-size:1rem;
            @media screen and (min-width:400px){
                font-size:1.1rem;
            }
        }
        .filterContainer{
            @include centeringdiv(row,center,center);
        }
    }
}